<ion-header>
    <ion-toolbar>
        <ion-title>Device Information</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="bg">

    <ion-list>
        <ion-card class="device_info" color="tertiary">
            <ion-card>
                <ion-card-header>
                    <ion-card-title class="device_title">
                        <ion-icon name="business" size="large"></ion-icon>
                        <ion-card-subtitle>{{ manufacturer }}</ion-card-subtitle>
                    </ion-card-title>
                </ion-card-header>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    <ion-card-title class="device_title">
                        <ion-icon name="layers" size="large"></ion-icon>
                        <ion-card-subtitle>{{ deviceName }}</ion-card-subtitle>
                    </ion-card-title>
                </ion-card-header>
            </ion-card>

        </ion-card>

        <ion-card color="tertiary">
            <ion-card-header>
                <ion-card-title>
                    <ion-icon name="logo-vue" size="large"></ion-icon>
                    <ion-card-subtitle>{{ deviceModel }}</ion-card-subtitle>
                </ion-card-title>
            </ion-card-header>
        </ion-card>

        <ion-card color="tertiary">
            <ion-card-header>
                <ion-card-title>
                    <ion-icon name="briefcase" size="large"></ion-icon>
                    <ion-card-subtitle>{{ osVersion }}</ion-card-subtitle>
                </ion-card-title>
            </ion-card-header>
        </ion-card>

        <ion-card color="tertiary">
            <ion-card-header>
                <ion-card-title>
                    <ion-icon name="layers" size="large"></ion-icon>
                    <ion-card-subtitle>{{ platform }}</ion-card-subtitle>
                </ion-card-title>
            </ion-card-header>
        </ion-card>

        <ion-card color="tertiary">
            <ion-card-header>
                <ion-card-title>
                    <ion-icon name="layers" size="large"></ion-icon>
                    <ion-card-subtitle>{{ language }}</ion-card-subtitle>
                </ion-card-title>
            </ion-card-header>
        </ion-card>

        <ion-card color="tertiary">
            <ion-card-header>
                <ion-card-title>
                    <ion-icon name="battery-charging" size="large"></ion-icon>
                    <ion-card-subtitle>{{ batteryLevel }}%</ion-card-subtitle>
                </ion-card-title>
            </ion-card-header>
        </ion-card>

        <ion-card color="tertiary">
            <ion-card-header>
                <ion-card-title>
                    <ion-icon name="battery-charging" size="large"></ion-icon>
                    <ion-card-subtitle>{{ chargingStatus }}</ion-card-subtitle>
                </ion-card-title>
            </ion-card-header>
        </ion-card>

        <ion-card color="tertiary">
            <ion-card-header>
                <ion-card-title>
                    <ion-icon name="layers" size="large"></ion-icon>
                    <ion-card-subtitle>{{ memUsed }}</ion-card-subtitle>
                </ion-card-title>
            </ion-card-header>
        </ion-card>

        <ion-card color="tertiary">
            <ion-card-header>
                <ion-card-title>
                    <ion-icon name="layers" size="large"></ion-icon>
                    <ion-card-subtitle>{{ realDiskTotal }}</ion-card-subtitle>
                </ion-card-title>
            </ion-card-header>
        </ion-card>

        <ion-card color="tertiary">
            <ion-card-header>
                <ion-card-title>
                    <ion-icon name="layers" size="large"></ion-icon>
                    <ion-card-subtitle>{{ realDiskFree }}</ion-card-subtitle>
                </ion-card-title>
            </ion-card-header>
        </ion-card>

        <ion-card color="tertiary">
            <ion-card-header>
                <ion-card-title>
                    <ion-icon name="layers" size="large"></ion-icon>
                    <ion-card-subtitle>{{ memoireOC }}</ion-card-subtitle>
                </ion-card-title>
            </ion-card-header>
        </ion-card>


    </ion-list>

</ion-content>