
<ion-content [fullscreen]="true"  padding="true" class="padding">
    <ion-card id="share-device-info">
        <ion-item lines="none">
            <ion-label>
                <ion-card-title>Device Name</ion-card-title>
                <p>TECNO SPARK 10</p>
                <ion-card-subtitle>No device connected</ion-card-subtitle>
            </ion-label>
        </ion-item>
    </ion-card>

    <div class="container">

        <ion-item lines="none">
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
            <ion-label>DEVICE</ion-label>
            <ion-icon (click)="presentActionSheet()" slot="end" name="ellipsis-vertical-circle-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none">
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
            <ion-label>DEVICE</ion-label>
            <ion-icon (click)="presentActionSheet()" slot="end" name="ellipsis-vertical-circle-outline"></ion-icon>
        </ion-item>

        <ion-item lines="none">
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
            <ion-label>DEVICE</ion-label>
            <ion-icon (click)="presentActionSheet()" slot="end" name="ellipsis-vertical-circle-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none">
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
            <ion-label>DEVICE</ion-label>
            <ion-icon (click)="presentActionSheet()" slot="end" name="ellipsis-vertical-circle-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none">
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
            <ion-label>DEVICE</ion-label>
            <ion-icon (click)="presentActionSheet()" slot="end" name="ellipsis-vertical-circle-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none">
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
            <ion-label>DEVICE</ion-label>
            <ion-icon (click)="presentActionSheet()" slot="end" name="ellipsis-vertical-circle-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none">
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
            <ion-label>DEVICE</ion-label>
            <ion-icon (click)="presentActionSheet()" slot="end" name="ellipsis-vertical-circle-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none">
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
            <ion-label>DEVICE</ion-label>
            <ion-icon (click)="presentActionSheet()" slot="end" name="ellipsis-vertical-circle-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none">
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
            <ion-label>DEVICE</ion-label>
            <ion-icon (click)="presentActionSheet()" slot="end" name="ellipsis-vertical-circle-outline"></ion-icon>
        </ion-item>

        <ion-item lines="none">
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
            <ion-label>DEVICE</ion-label>
            <ion-icon (click)="presentActionSheet()" slot="end" name="ellipsis-vertical-circle-outline"></ion-icon>
        </ion-item>


        <ion-item lines="none">
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
            <ion-label>DEVICE</ion-label>
            <ion-icon (click)="presentActionSheet()" slot="end" name="ellipsis-vertical-circle-outline"></ion-icon>
        </ion-item>

        <ion-item lines="none">
            <ion-icon name="headset-outline" slot="start"></ion-icon>
            <ion-label>DEVICE</ion-label>
            <ion-icon (click)="presentActionSheet()" slot="end" name="ellipsis-vertical-circle-outline"></ion-icon>
        </ion-item>    

        <ion-item lines="none">
            <ion-icon name="laptop-outline" slot="start"></ion-icon>
            <ion-label>DEVICE</ion-label>
            <ion-icon (click)="presentActionSheet()" slot="end" name="ellipsis-vertical-circle-outline"></ion-icon>
        </ion-item>

    </div>

    


</ion-content>

<ion-item lines="none">
    <ion-card-subtitle slot="start" size="small"> APPAREILS</ion-card-subtitle>
    
    <ion-button slot="end" fill="clear" size="default" class="upd"> ACTUALISER </ion-button>
  </ion-item>        