
<ion-content [fullscreen]="true"  padding="true" class="padding">
    <ion-card id="share-device-info">
        <ion-item lines="none">
            <ion-label>
              bonjour
                <ion-card-title>Device Name</ion-card-title>
                <p>TECNO SPARK 10</p>
                <ion-card-subtitle>No device connected</ion-card-subtitle>
            </ion-label>
        </ion-item>
    </ion-card>

    <div class="container">


        <ion-item lines="none"  *ngFor="let scanResult of bluetoothScanResults">
            <ion-icon name="laptop-outline" slot="start"></ion-icon>
            <ion-label>{{scanResult.device?.name ?? "NO name" }}</ion-label>
            <ion-icon (click)="presentActionSheet()" slot="end" name="ellipsis-vertical-circle-outline"></ion-icon>
        </ion-item>

    </div>




</ion-content>

<ion-item lines="none">
    <ion-card-subtitle slot="start" size="small"> APPAREILS</ion-card-subtitle>

    <ion-button slot="end" fill="clear" size="default"
    (click)="scan()"
    class="upd"> <ion-label *ngIf="scanning === false">ACTUALISER</ion-label> <ion-spinner *ngIf="scanning === true"/> </ion-button>
  </ion-item>
