<ion-card id="bg">
  <img src="../../assets/icekiwi.jpeg">
  <ion-card-header>
    <ion-card-title class="home-title">Instant Share</ion-card-title>
    <ion-card-subtitle>The best bluetooth app used for files transfer</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Nesciunt, voluptate optio. Porro, dolores maiores voluptas ea
    saepe voluptatibus, ut rerum libero voluptatem dicta qui velit
    ex iste a maxime quaerat debitis nam. Esse, dolor consectetur.
    Aut veniam consequuntur deleniti. Maxime repellendus, reprehenderit
    sapiente laudantium eos iste cumque mollitia dolor tempore inventore
    maiores quis nobis expedita et deleniti in magni. Quisquam, dolor architecto
    
  </ion-card-content>
</ion-card>